<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Internship Report</title>
    <meta http-equiv="refresh" content="0; url={{ .Site.BaseURL }}en/1-worklog/">
    <link rel="canonical" href="{{ .Site.BaseURL }}en/1-worklog/">
</head>
<body style="font-family: Arial, sans-serif; text-align: center; padding: 50px;">
    <h1>📚 Internship Report</h1>
    <p>Redirecting to content...</p>
    <p>Choose language: <a href="{{ .Site.BaseURL }}en/1-worklog/">English</a> | <a href="{{ .Site.BaseURL }}vi/1-worklog/">Tiếng Việt</a></p>
</body>
</html>
